.column {
  width: 300px;
  min-height: 250px;
  background-color: rgb(236, 236, 232);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 7px;
  padding-bottom: 30px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .column {
    width: 250px;
  }
}