.search-container {
  margin-top: 70px;
  margin-left: 175px;
}

.search-input {
  margin-top: 40px;
  width: 250px;
  min-width: 100px;
  padding: 8px;
  background-color: rgb(236, 236, 232);
  border: solid 1px rgb(212, 212, 208);
  border-radius: 5px;
  outline: none;
}