.task-card-container {
  padding: 1rem;
  border-radius: 10px;
  width: 200px;
  height: 180px;
  margin-top: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: white;
}

.task-card-container:hover{
  transform: scale(1.02);
}

.low {
  background-color: yellow;
  color: black;
}

.medium {
  background-color: #10B981;
  color: white;
}

.high {
  background-color: red;
  color: white;
}

.drag-handle {
  position: relative;
}

.drag-handle:hover {
  cursor: grab;
}

.drag-handle:active {
  cursor: grabbing;
}

.drag-handle::after {
  content: attr(data-tooltip);
  position: absolute;
  top: -10%;
  left: 50%;
  opacity: 0;
  pointer-events: none;
  padding: 5px 10px;
  border-radius: 6px;
}

.drag-handle:hover::after {
  opacity: 1;
}

.drag-handle-priority-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 12px;
  margin-top: 10px;
}

.delete-edit-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 10px;
}

.priority-icon {
  border-radius: 100%;
}

.delete-button,
.edit-button {
  padding: 7px 12px;
  border: none;
  border-radius: 6px;
  color: black;
}

.delete-button {
  background-color: #e0e0e0;
}
.delete-button:hover {
  background-color: red;
  color: white;
}

.edit-button {
  background-color: #e0e0e0;
}

.edit-button:hover {
  background-color: #10B981;
  color: white;
}